<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <title>El Blogüero</title>
  </head>
  <body>
    <a href="login">Log in</a>
    <a href="signup">Sign up</a>
    <% if session[:user]%>
    <% end %>

    <div id="drop-area">
  <form class="my-form">
    <p>Upload File(s)</p>
    <input type="text" name="Message">
    <input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
    <label class="button" for="fileElem">Select File(s)</label>
  </form>
</div>

    <script src="main.js"></script>
  </body>
</html>
