<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <title>El Blogüero</title>
  </head>
  <body>
    <a href="login">Log in</a>
    <a href="signup">Sign up</a>
    <% if session[:user]%>
    <% end %>

    <div id="drop-area">
  <form class="my-form">
    <p>Upload multiple files with the file dialog or by dragging and dropping images onto the dashed region</p>
    <input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
    <label class="button" for="fileElem">Select some files</label>
  </form>
</div>

    <script src="main.js"></script>
  </body>
</html>

<a href="/">Home</a>
<form class="" action="signup" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="post">
</form>
