<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <title>El Blogüero</title>
  </head>
  <body>

    <%= yield %>
    <script src="main.js"></script>
  </body>
</html>
