<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <title>El Blogüero</title>
  </head>
  <body>
    <a href="login">Log in</a>
    <a href="signup">Sign up</a>
    <% if session[:user]%>
    <% end %>
    <script src="main.js"></script>
  </body>
</html>

<a href="/">Home</a>
<form class="" action="signup" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="post">
</form>
