<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="login">Log in</a>
    <a href="signup">Sign up</a>
    <div id="drop-area">
    </div>

    <%=yield%>
  </body>
</html>
