<h1>Welcome, <% "#{user.name}"%> </h1>

<a href="/">Home</a>
<form class="" action="login" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="post">
</form>
