<h2>You've successfully logged out. Come back soon!</h2>

<body>
  <form class="" action="login" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="post">
  </form>
</body>
